/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

h2 {
  text-align: center;
  font-size: 2em;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/